#footer {
    position: absolute;
    bottom: 0;
    background: #169CD9;
    float: left;
    width: 100%;
    padding: 35px 0px 5px 0px;
}
.footer-text {
  color: #fff;
  font: normal 16px/26px courier;
  border-bottom: 0px;
}
